@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

button {
  background-color: #111111;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  color: white;
  transition: all .1s ease-in-out;
}

button:hover {
  background-color: #111111;

}

nav {
  background-color: white!important;
  color: black!important;
}

/* Header */ 
.introduccion {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
}



.introduccion__titulo span {
  color: #111111;
}

.introduccion__detalles {
  font-size: 18px;
  margin-top: 15px;
  color: #6f6e77;
} 

.introduccion__redes_logos {
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.introduccion__redes_logos svg {
  width: 30px;
  height: 30px;
  
}

.introduccion__redes_logos:hover {
  background-color: #423f3f;
}


/* Sobre mi */

.about {
  height: 100vh;
}

.about__titulo {
  color:#111111;
  font-weight: 700;
}

.about p {
  color: #6f6e77;
  padding-right: 0;
}

.about img {
  width: 600px;
  height: 400px;
}

/* Proyectos UX */

.proyectosux__texto {
  margin-top: 20px;
  
}

.proyectosux__p {
  font-size: 18px;
  color: #6f6e77;
}

.categoria__texto {
  color: #6f6e77;
}


.proyectosux__img {
  /* height: 700px;
  width: 100%; */
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.proyectos__titulo {
  color: #111111;
}

b {
  color: #111111;
}

/* Footer */
footer {
  margin: 0;
  background-color: #111111;
  padding: 30px 0;
}

.logos-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-texto {
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #9e9ea5;
}

.download-button {
    background-color: rgb(49, 49, 54);
    border: none;
    font-size: 14px;
    padding: 10px 50px!important;
    font-weight: 400!important;
}