@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

button {
  background-color: #111111;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  color: white;
  transition: all .1s ease-in-out;
}

button:hover {
  background-color: #111111;

}


/* Header */ 
.introduccion {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.bienvenido {
  text-align: left!important;
}

.introduccion__titulo span {
  color: #111111;
}

.introduccion__detalles {
  text-align: start!important;
  font-size: 14px!important;
  margin-top: 30px;
}

.introduccion p {
  font-size: 25px;
}

.introduccion__detalles {
  color: #6f6e77;
} 

.introduccion__redes_logos {
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.introduccion__redes_logos svg {
  width: 30px;
  height: 30px;
  
}

.introduccion__redes_logos:hover {
  background-color: #423f3f;
}


/* Sobre mi */

.about {
  height: 100vh;
}

.about__titulo {
  color:#111111;
  font-weight: 700;
}

.about p {
  color: #6f6e77;
  padding-right: 0;
}

.about img {
  width: 600px;
  height: 400px;
}

/* Proyectos UX */

.proyectosux__texto {
  margin-top: 20px;
  
}

.proyectosux__p {
  font-size: 18px;
  color: #6f6e77;
}

.categoria__texto {
  color: #6f6e77;
}


.proyectosux__img {
  /* height: 700px;
  width: 100%; */
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.proyectos__titulo {
  color: #111111;
}

b {
  color: #111111;
}



/* Footer */
footer {
  margin: 50px 0 0 0;
  background-color: #111111;
  padding: 30px 0;
}

.logos-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-texto {
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #9e9ea5;
}

.download-button {
    background-color: rgb(49, 49, 54);
    border: none;
    font-size: 14px;
    padding: 10px 50px!important;
    font-weight: 400!important;
}

.navbar-brand{
  margin: 0 30px
}

.navbar-nav {
  font-size: 16px;
}

.navbar-nav button {
  margin-right: 30px;
}

.cv {
  text-decoration: none;
}






@media screen and (min-width:768px) {
  header {
    margin-top: 0px;
    margin-bottom: 0px
  }

  
}

@media screen and (max-width:768px) {
    header {
      margin-top: 150px;
      margin-bottom: 150px
    }

    .about {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    .about img {
      width: 100%;
      height: 100%;
    }

    .ux {
      margin-top: 100px;
      margin-bottom: 150px;
    }

    .ux button {
      margin-bottom: 30px;
    }

    .ux h4 {
      margin-top: 10px;
    }

    .dev {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    .dev button {
      margin-bottom: 30px;
    }
    
    .dev h4 {
      margin-top: 10px;
    }

    .navbar-brand {
      display: flex;
      justify-content: center;
      margin: 0;
    }

    .navbar-nav {
      text-align: center;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
    }

    .button-nav {
      margin: 10px 60px;
    }

    

    

}
